@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

/* *{margin: 0;
padding: 0;
} */
body{
    background-color: rgba(236, 241, 236, 0.897);
}
main{
    background-color: white;
    border:1px solid black;
    width: 650px;
    height: 470px;
    border-radius: 5%;
   /* div ortalamanın üç yolu var, bu onlardan birisi */
   position: absolute;
   top: 50%;
   left: 50%;
   transform:translate(-50%, -50%);
}
.stepdiv{
    width: 270px;
    height: 430px;
    border: 1px solid red;
    background-image: url(./img/bg-sidebar-desktop.svg);
    background-position: center center;
  border-radius: 5%;
  margin-left: 15px;
  margin-bottom: 15px;
  margin-top: 15px;
}

main .stepdiv ul li{
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    line-height: 25px;
    list-style-type: none;
}

main .stepdiv ul li span{
    color: #B4B4B3;

}